---
import { contentfulClient } from '../../lib/contentful';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { marked } from 'marked';
import type { TypeBlogPostSkeleton } from '../../lib/content-types';

export async function getStaticPaths() {
  const entries = await contentfulClient.getEntries<TypeBlogPostSkeleton>({
    content_type: 'blogPost',
  });

  const pages = entries.items.map((item) => ({
    params: { slug: item.fields.slug },
    props: {
      title: item.fields.title,
      description: item.fields.description,
      date: new Date(item.fields.date).toLocaleDateString(),
      body: item.fields.body,
    },
  }));

  return pages;
}

const { title, date, description, body } = Astro.props;
---

<BaseLayout pageTitle={title} description={description}>
  <div
    class='my-20 max-w-4xl mx-auto px-6 sm:px-2 bg-base-300 text-[hsl(var(--bc))] rounded-2xl'
  >
    <div class='mb-10 relative pt-6 sm:p-6'>
      <h1 class='font-bold text-5xl sm:text-4xl w-fit pb-2'>
        {title}
      </h1>
      <time class='font-semibold'>{date}</time>
      <div
        class='w-0 p-1 opacity-0 bg-primary absolute sm:left-6 -bottom-4 animate-hoverBarAnim'
      >
      </div>
    </div>
    <article class='blog' set:html={marked.parse(body as string)} />
  </div>
</BaseLayout>
