---
import BaseLayout from '../layouts/BaseLayout.astro';
import { Image } from '@astrojs/image/components';

const pageTitle = 'hny-blogs | About';
---

<BaseLayout pageTitle={pageTitle}>
  <main class='mt-20 mb-10'>
    <div class='max-w-2xl mx-auto flex flex-col items-center'>
      <div class='avatar'>
        <div class='w-56 rounded-full'>
          <Image
            src={'/profile.jpg'}
            aspectRatio={'1:1'}
            format='webp'
            width={300}
            height={300}
            alt='profile picture'
          />
        </div>
      </div>
      <article class=''>
        <header class='text-center relative'>
          <h1 data-test='about-text' class='text-3xl font-bold pb-3'>
            Welcome to my blog!
          </h1>
          <div
            class='w-fit p-1 opacity-0 bg-primary absolute left-5 top-9 sm:top-9 animate-hoverBarAnim'
          >
          </div>
        </header>
        <div
          class='p-4 my-6 bg-base-200 rounded-md divide-y-2 divide-[hsl(var(--pc))]'
        >
          <section class='pb-4'>
            <h1 class='text-xl sm:text-3xl font-bold mb-4'>
              <span class='animate-bounce inline-block'>👀</span> A Little About
              Myself
            </h1>
            <p>
              Sleep, eat, <span class='line-through'>game</span> program, the usual
              shindig. I live for RPGs and am always in the hunt for new adventures.
              <span class='font-bold'>Believe in victory!</span>
            </p>
          </section>
          <section class='py-4 [&>p]:py-2'>
            <h1 class='text-xl sm:text-3xl font-bold mb-4'>
              About This Blog..
            </h1>
            <p>
              I created this blog for the sole purpose of talking about <span
                class='font-bold'>myself!</span
              > To me, being able to jot down my thoughts onto a blog helps me grow
              and
              <span class='italic'>develop</span> into a better developer.
            </p>
            <p>
              Expect all sorts of rambling on this blog, especially on my
              <span class='font-bold'>experiences</span> learning new tooling, languages,
              libraries, etc. I'm a simple man; I see something cool, I talk about
              it!
            </p>
          </section>
          <div class='pt-4'>
            <h1 class='text-xl sm:text-3xl font-bold mb-4'>See more here!</h1>
            <div>
              <h2>
                My email: <span class='pl-2 font-semibold'
                  >hny-codes@protonmail.com</span
                >
              </h2>
            </div>
            <div data-test='other-links' class='flex gap-10 mt-4'>
              <a
                href='https://github.com/hny-codes'
                target='_blank'
                class='transition hover:text-[hsl(var(--a))] active:hover:text-[hsl(var(--af))] group flex flex-col items-center'
              >
                <svg
                  xmlns='http://www.w3.org/2000/svg'
                  width='32'
                  height='32'
                  viewBox='0 0 24 24'
                  ><g
                    fill='none'
                    stroke='currentColor'
                    stroke-linecap='round'
                    stroke-linejoin='round'
                    stroke-width='2'
                    ><path
                      stroke-dasharray='30'
                      stroke-dashoffset='30'
                      d='M12 4C13.6683 4 14.6122 4.39991 15 4.5C15.5255 4.07463 16.9375 3 18.5 3C18.8438 4 18.7863 5.21921 18.5 6C19.25 7 19.5 8 19.5 9.5C19.5 11.6875 19.017 13.0822 18 14C16.983 14.9178 15.8887 15.3749 14.5 15.5C15.1506 16.038 15 17.3743 15 18C15 18.7256 15 21 15 21M12 4C10.3317 4 9.38784 4.39991 9 4.5C8.47455 4.07463 7.0625 3 5.5 3C5.15625 4 5.21371 5.21921 5.5 6C4.75 7 4.5 8 4.5 9.5C4.5 11.6875 4.98301 13.0822 6 14C7.01699 14.9178 8.1113 15.3749 9.5 15.5C8.84944 16.038 9 17.3743 9 18C9 18.7256 9 21 9 21'
                      ><animate
                        fill='freeze'
                        attributeName='stroke-dashoffset'
                        dur='0.6s'
                        values='30;0'></animate></path
                    ><path
                      stroke-dasharray='10'
                      stroke-dashoffset='10'
                      d='M9 19C7.59375 19 6.15625 18.4375 5.3125 17.8125C4.46875 17.1875 4.21875 16.1562 3 15.5'
                      ><animate
                        fill='freeze'
                        attributeName='stroke-dashoffset'
                        begin='0.7s'
                        dur='0.2s'
                        values='10;0'></animate></path
                    ></g
                  ></svg
                >
                <p
                  class='transition-all translate-y-5 opacity-0 invisible group-hover:visible group-hover:translate-y-0 group-hover:opacity-100 font-bold'
                >
                  Github
                </p>
              </a>
              <a
                href='http://hny-codes.com/'
                target='_blank'
                class='transition hover:text-[hsl(var(--a))] active:hover:text-[hsl(var(--af))] group flex flex-col items-center'
              >
                <svg
                  xmlns='http://www.w3.org/2000/svg'
                  width='32'
                  height='32'
                  viewBox='0 0 24 24'
                  ><g
                    fill='none'
                    stroke='currentColor'
                    stroke-linecap='round'
                    stroke-linejoin='round'
                    stroke-width='2'
                    ><path
                      stroke-dasharray='50'
                      stroke-dashoffset='50'
                      d='M12 17H5V7H19V17Z'
                      ><animate
                        fill='freeze'
                        attributeName='stroke-dashoffset'
                        dur='0.6s'
                        values='50;0'></animate></path
                    ><path
                      stroke-dasharray='20'
                      stroke-dashoffset='20'
                      d='M3 19H21'
                      ><animate
                        fill='freeze'
                        attributeName='stroke-dashoffset'
                        begin='0.7s'
                        dur='0.3s'
                        values='20;0'></animate></path
                    ></g
                  ></svg
                >
                <p
                  class='transition-all translate-y-5 opacity-0 invisible group-hover:visible group-hover:translate-y-0 group-hover:opacity-100 font-bold'
                >
                  Portfolio
                </p>
              </a>
            </div>
          </div>
        </div>
      </article>
    </div>
  </main>
</BaseLayout>
