@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-[url(/noise.svg)] bg-fixed;
  }

  /* p {
    @apply after:content-[''] after:inline-block after:w-0;
  } */
}

@layer components {
  /* Blog Post Styling */
  .blog {
    @apply sm:px-6 pb-6 relative;
  }

  /* Headers */
  .blog > h1 {
    @apply font-bold text-4xl mt-6 mb-4;
  }

  .blog > h2 {
    @apply font-bold text-2xl mt-6 mb-4;
  }

  .blog > h3 {
    @apply font-bold text-xl mt-6 mb-4;
  }

  /* Paragraph */
  .blog > * {
    @apply pb-4;
  }

  /* Anchor */
  .blog > p > a {
    @apply underline font-extrabold text-[hsl(var(--a))] hover:text-[hsl(var(--af))] active:hover:text-[hsl(var(--af))] transition;
  }

  /* Quotes */
  .blog > blockquote {
    @apply pl-2 my-4 ml-4 border-l-4 border-[hsl(var(--p))] after:block bg-[hsl(var(--b2))] rounded-r-lg;
  }

  .blog > blockquote > p {
    @apply py-4 pb-0 italic;
  }

  .blog > blockquote > p > code {
    @apply text-[hsl(var(--in))] bg-[var(hsl(var(--p)))] font-bold;
  }

  /* List */
  .blog > ol,
  .blog > ul {
    @apply my-6;
  }

  /* Ordered List */
  .blog > ol > li {
    @apply list-decimal ml-4 my-4 text-sm;
  }

  /* Unordered List */

  .blog > ul > li {
    @apply list-disc ml-4 my-4 text-sm;
  }

  /* Code */
  .blog > p > code {
    @apply text-[hsl(var(--in))] font-bold;
  }

  .blog > pre {
    @apply border-2 border-[hsl(var(--in))] rounded-md p-4 my-2 after:block text-[hsl(var(-n))] bg-[hsl(var(--inc))]/30;
  }

  /* Images & Assets */
  .blog > p > img {
    @apply my-4 mx-auto left-0 right-0;
  }

  /* References */
  .blog > ol > li > a {
    @apply underline font-extrabold text-[hsl(var(--a))] hover:text-[hsl(var(--af))] active:hover:text-[hsl(var(--af))] transition;
  }
}
