---
---

<footer class='bg-base-300 text-sm p-2'>
  <div class='flex justify-center'>
    <p>
      © 2023 hny-blogs | Built with <a href='https://astro.build/' class="underline">Astro</a>
    </p>
  </div>
</footer>
