---
import { Image } from '@astrojs/image/components';
---

<main class='hero mt-20'>
  <div class='relative'>
    <span
      class='absolute text-5xl drop-shadow-2xl font-bold rotate-[-30deg] left-4 top-16 opacity-0 animate-heroWeb'
      >Web</span
    >
    <span
      class='absolute text-3xl drop-shadow-2xl font-bold rotate-[30deg] right-0 top-12 opacity-0 animate-heroProgram'
      >Programming</span
    >
    <span
      class='absolute text-4xl drop-shadow-2xl font-bold rotate-[10deg] right-8 top-36 opacity-0 animate-heroLife'
      >..Life?</span
    >
    <div class='text-center pt-32'>
      <div class='avatar'>
        <div class='w-14 rounded-full opacity-0 animate-heroAvatar'>
          <Image
            src={'/profile.jpg'}
            aspectRatio={'1:1'}
            format='webp'
            width={300}
            height={300}
            alt='profile picture'
          />
        </div>
      </div>
      <h1 class='drop-shadow-lg text-2xl px-4 py-2'>
        <span class='font-bold relative transition'
          >Welcome! <div
            class='w-0 p-1 opacity-0 bg-primary absolute left-0 top-6 animate-hoverBarAnim'
          >
          </div>
        </span>
        You stumbled upon my humble atelier!
      </h1>
      <h2 class='line-through italic drop-shadow-lg px-4 py-2'>
        where I ramble about myself and my experiences
      </h2>
    </div>
  </div>
</main>
