---
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import ThemeSwap from '../components/ThemeSwap';
import { SEO } from 'astro-seo';
import { ViewTransitions } from 'astro:transitions';

const defaultDesc =
  'A personal blog, where I talk about myself and my experiences!';

interface Props {
  pageTitle: string;
  description?: string;
}

const { pageTitle, description = defaultDesc } = Astro.props;
---

<html lang='en' transition:animate='fade'>
  <head>
    <ViewTransitions />
    <script>
      document.addEventListener('astro:page-load', () => {
        if (localStorage.getItem('theme') === null) {
          document.documentElement.setAttribute('data-theme', 'dark');
        } else
          document.documentElement.setAttribute(
            'data-theme',
            localStorage.getItem('theme') as string
          );
      });
    </script>
    <script>
      import { themeChange } from 'theme-change';
      themeChange();
    </script>
    <SEO
      title={pageTitle}
      description={description}
      openGraph={{
        basic: {
          title: pageTitle,
          type: 'website',
          image: '/profile.jpg',
          url: 'https://hny-blogs.vercel.app/',
        },
        optional: {
          description,
        },
      }}
      extend={{
        link: [{ rel: 'icon', href: '/favicon-32x32.png' }],
        meta: [
          { name: 'viewport', content: 'width=device-width' },
          { name: 'generator', content: Astro.generator },
        ],
      }}
      charset='utf-8'
    />
    <link href='/prism.css' rel='stylesheet' />
  </head>
  <body class='relative'>
    <Navbar />

    <!-- transition:persist to retain theme change upon page  change -->
    <ThemeSwap client:load transition:persist />
    <div>
      <slot />
    </div>
    <Footer />
    <script>
      // Check for localstorage's theme after new page is loaded
      // TODO - Light mode flicker upon initial page load
      document.addEventListener('astro:after-swap', () => {
        localStorage.getItem('theme') === null
          ? document.documentElement.setAttribute('data-theme', 'dark')
          : document.documentElement.setAttribute(
              'data-theme',
              localStorage.getItem('theme') as string
            );
      });
    </script>
  </body>
</html>
