---
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import ThemeSwap from '../components/ThemeSwap';
import { SEO } from 'astro-seo';
const defaultDesc =
  'A personal blog, where I talk about myself and my experiences!';

interface Props {
  pageTitle: string;
  description?: string;
}

const { pageTitle, description = defaultDesc } = Astro.props;
---

<html lang='en'>
  <head>
    <script is:inline>
      if (localStorage.getItem('theme') === null) {
        document.documentElement.setAttribute('data-theme', 'dark');
      } else
        document.documentElement.setAttribute(
          'data-theme',
          localStorage.getItem('theme')
        );
    </script>
    <script>
      import { themeChange } from 'theme-change';
      themeChange();
    </script>
    <SEO
      title={pageTitle}
      description={description}
      openGraph={{
        basic: {
          title: pageTitle,
          type: 'website',
          image: '/profile.jpg',
          url: 'https://hny-blogs.vercel.app/',
        },
      }}
      extend={{
        link: [{ rel: 'icon', href: '/favicon-32x32.png' }],
        meta: [
          { name: 'viewport', content: 'width=device-width' },
          { name: 'generator', content: Astro.generator },
        ],
      }}
      charset='utf-8'
    />
  </head>
  <body class='relative'>
    <Navbar />
    <ThemeSwap client:load />
    <div class='wrapper' id='swup'>
      <slot />
    </div>
    <Footer />
    <script src='../lib/swup.js'></script>
  </body>
</html>
